.login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 24px 12px 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Locator", "Inter", sans-serif;

  .login_hero {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;

    h1 {
      font-size: 23px;
      font-weight: 700;
      letter-spacing: 1.2px;
      line-height: 135%;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
    }

    h3 {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 150%;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .login_divider {
    width: 100%;
    max-width: 440px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 20px 0 70px;

    @media (max-width: 475px) {
      max-width: 200px;
      margin-bottom: 58px;
    }
  }

  .login_title {
    font-size: 20px;
    font-weight: 700;
    line-height: 115%;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 34px;
  }

  .login_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 520px;
    min-height: 430px;
    margin: 0 auto;

    .input_container {
      display: flex;
      flex-direction: column;

      input {
        font-family: "Locator", "Inter", sans-serif;
        outline: none;
        padding: 12px;
        border: none;
        border-radius: 0;
        background: #fff;
        color: #231f20;
        font-size: 14px;
        line-height: 100%;

        &::placeholder {
          font-family: "Locator", "Inter", sans-serif;
          font-weight: 500;
          font-size: 14px;
          line-height: 100%;
          text-transform: uppercase;
          color: #231f20;
        }
      }

      .error_message {
        color: #ff0000;
        font-size: 12px;
        text-align: left;
        margin-top: 5px;
      }
    }

    .password_hint {
      color: #ffffff;
      font-size: 10px;
      line-height: 120%;
      margin: 2px 0 0;
      text-transform: uppercase;
    }

    .forgot_password {
      font-family: "Locator", "Inter", sans-serif;
      font-weight: 325;
      font-size: 12px;
      line-height: 100%;
      text-align: right;
      text-transform: uppercase;
      text-decoration: underline;
      color: #ffffff;

      background: transparent;
      border: none;
      margin-top: 6px;
      width: auto;
      align-self: end;
      cursor: pointer;
    }

    .login_submit {
      margin-top: auto;
    }
  }

  .forgot_container {
    justify-content: flex-start;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 520px;
    margin: 0 auto 20px;
    padding: 0;
    text-align: center;
    box-sizing: border-box;

    .forgot_close {
      position: absolute;
      top: -4px;
      right: 0;
      background: transparent;
      border: none;
      font-size: 22px;
      color: #fff;
      cursor: pointer;
    }

    .forgot_title {
      font-size: 20px;
      font-weight: 700;
      line-height: 120%;
      text-transform: uppercase;
      color: #fff;
      margin: 0 0 18px;
    }

    .forgot_text {
      font-size: 15px;
      line-height: 140%;
      color: #fff;
      text-transform: uppercase;
      margin: 0;
    }

    .forgot_panel {
      width: 100%;
      max-width: 476px;
      background: rgba(255, 255, 255, 0.06);
      padding: 34px 16px 18px;
      box-sizing: border-box;
      margin-bottom: 12px;

      &--success {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }

    .forgot_input {
      width: 100%;
      box-sizing: border-box;
      margin-top: 34px;
      padding: 12px;
      border: none;
      border-radius: 0;
      font-size: 14px;
      outline: none;
      color: #231f20;

      &::placeholder {
        color: #231f20;
        font-family: "Locator", "Inter", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        text-transform: uppercase;
      }
    }

    .forgot_submit {
      margin-top: 16px;
      width: 100%;
    }
  }
}
