.login_container {
  .login_header {
    text-align: center;
    margin: 75px 0 2rem;

    h2 {
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
    }
    h1 {
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .login_form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

    .input_container {
      display: flex;
      flex-direction: column;
      input {
        padding: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: #fff;
        font-size: 1rem;
      }
    }

    .password_hint {
      color: #ff0000;
      font-size: 0.8rem;
      margin: -0.5rem 0 0.5rem;
    }

    .forgot_password {
      font-weight: 325;
      font-size: 14px;
      line-height: 100%;
      text-align: right;
      text-transform: uppercase;
      text-decoration: underline;

      background: transparent;
      border: none;
      margin-top: 0.5rem;
      width: auto;
      align-self: end;
      cursor: pointer;
    }
  }

  .forgot_container {
    min-height: 443px;
    justify-content: space-evenly;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    padding: 25px 20px;
    background: #fff;
    text-align: center;
    box-sizing: border-box;

    .forgot_close {
      position: absolute;
      top: 10px;
      right: 14px;
      background: transparent;
      border: none;
      font-size: 24px;
      cursor: pointer;
    }

    .forgot_title {
      font-size: 20px;
      font-weight: 700;
      line-height: 120%;
      text-transform: uppercase;
      color: #000;
    }

    .forgot_text {
      font-size: 14px;
      line-height: 150%;
      color: #000;
    }

    .forgot_input {
      width: 100%;
      padding: 12px;
      border: 1px solid #000000;
      border-radius: 0;
      font-size: 14px;

      &::placeholder {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        text-transform: uppercase;
      }
    }
  }
}
