.promoter_user {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0;
  height: 100%;

  &_header {
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 7px;

    h2 {
      font-size: 30px;
      font-weight: 300;
    }

    h1 {
      font-size: 42px;
      font-weight: 700;
    }
  }

  &_buttons {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
