.button {
  width: 100%;
  background-color: transparent;
  border: none;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  padding: 12px;
  font-size: 13px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &.white {
    background-color: #fff;
    color: #000000;

    &:hover {
      background-color: #ecc3b2;
      color: #fff;
    }
  }

  &.black {
    background-color: #000;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }

  &.primary {
    background-color: #e82526;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: #ecc3b2;
    }
  }
}
