.button {
  width: 100%;
  background-color: transparent;
  border: none;
  font-family: "Locator", "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 12px;
  font-size: 13px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &.white {
    background-color: #fff;
    color: #000000;

    &:hover {
      background-color: #e8e8e8;
      color: #000;
    }
  }

  &.black {
    background-color: #000;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }

  &.primary {
    background-color: #599de0;
    color: #fff;

    &:hover {
      background-color: #3f7fc4;
      color: #fff;
    }
  }
}
