.main {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(180deg, #f1f6fa 0%, #dbeaf2 40%, #bedbea 100%);
  background-color: #bedbea;
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  &_container {
    margin: 0 auto;
    max-width: calc(100% - 40px);
    width: 100%;

    @media (min-width: 1025px) {
      max-width: 800px;
    }

    &_header {
      display: flex;
      align-items: center;
      position: relative;
      justify-content: center;
      padding: 30px 0 15px;

      button {
        background-color: transparent;
        border: none;
        position: absolute;
        left: 0;
        font-size: 12px;
        cursor: pointer;
      }

      &_images {
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        z-index: 2;

        p {
          text-transform: uppercase;
          font-weight: 300;
        }
      }

      &_logo {
        &.lrp {
          width: 150px;
        }

        &.hyalo {
          width: 240px;
        }
      }
    }
  }

  &_bubble {
    position: absolute;
    width: 220px;

    &.top {
      top: -90px;
      right: -90px;
    }

    &.bottom {
      bottom: -150px;
      left: -90px;
      transform: rotate(270deg);
    }
  }

  .botaoVoltar {
    font-weight: 325;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: "Locator", "Inter", sans-serif;
    color: #599de0;
    position: absolute;
    top: 25px;
  }
}
