.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &_divider {
    margin: 16px 0 0;
    width: 400px;
    height: 2px;
    background-color: #fff;
    display: block;

    @media (max-width: 425px) {
      width: 200px;
    }
  }

  &_title {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 1.2px;
    line-height: 135%;
  }

  &_form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;

    .input_container {
      position: relative;
      width: 100%;

      select,
      input {
        font-family: "Locator", "Inter", sans-serif;
        width: 100%;
        border: none;
        padding: 15px;
        background-color: #ffffff;
        box-sizing: border-box;
        outline: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;

        &::placeholder {
          font-family: "Locator", "Inter", sans-serif;

          font-weight: 500;
          font-size: 14px;
          line-height: 100%;
          text-transform: uppercase;
        }
      }

      select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M5%208l5%205%205-5z%22%20fill%3D%22%23888%22/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 15px center;
        background-size: 20px;
        text-transform: uppercase;
      }

      .select_hidden {
        display: none;
      }

      .custom_select_wrapper {
        position: relative;
        width: 100%;
        border: none;
        padding: 15px;
        background-color: #ffffff;
        box-sizing: border-box;
        cursor: pointer;
        text-align: left;
        transition: none;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 10px;
          width: 20px;
          height: 20px;
          background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M5%208l5%205%205-5z%22%20fill%3D%22%23888%22/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 20px;
          transform: translateY(-50%) rotate(0deg);
          transition: transform 0.3s;
        }

        &.open::after {
          transform: translateY(-50%) rotate(180deg);
        }

        .custom_select_text {
          font-weight: 500;
          font-size: 14px;
          line-height: 100%;
          text-transform: uppercase;
        }
      }

      .custom_select_options {
        box-sizing: border-box;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #ecc3b2;
        padding: 21px 18px 19px;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 5px;
        z-index: 5;
      }

      .custom_select_option {
        font-family: "Locator", "Inter", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #ffffff;
        cursor: pointer;
        text-transform: none;
        text-align: left;
      }
    }

    .error_message {
      color: #ff0000;
      font-size: 12px;
      text-align: left;
      margin-top: 5px;
    }

    .checkbox_container {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      text-align: left;
      margin-top: 10px;
      margin-bottom: 10px;

      input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 20px;
        height: 20px;
        background-color: #ffffff;
        border: 1px solid #ccc;
        border-radius: 3px;
        cursor: pointer;
        flex-shrink: 0;
        margin-top: 2px;

        &:checked {
          background-color: #888;
          border-color: #888;
        }
      }

      a {
        text-decoration: underline;

        line-height: 100%;
      }

      label {
        font-size: 12px;
      }
    }
  }
}
