.user_data {
  font-family: "Jost", sans-serif;
  margin-top: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &_header {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;

    h1 {
      font-size: 23px;
      font-weight: 700;
      letter-spacing: 1.2px;
      line-height: 135%;
      margin: 0;
    }

    h3 {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 150%;
      margin: 0;
      text-transform: uppercase;
    }
  }

  &_divider {
    width: min(100%, 560px);
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 20px 0 56px;
  }

  &_card {
    width: min(100%, 560px);
    box-sizing: border-box;
    background: #fff;
    padding: 40px 20px;
  }

  &_info {
    width: 100%;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    color: #000;
  }

  &_row {
    font-size: 28px;
    color: #000;
    text-align: center;
    margin-bottom: 0;
    letter-spacing: 0.5px;
  }
  &_code {
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 300;
    color: #000;
    span.bold {
      font-weight: 700;
      font-size: 32px;
      color: #000;
    }
  }
  &_date,
  &_time {
    font-size: 22px;
    font-weight: 300;
    color: #000;
    margin-bottom: 12px;
    span.bold {
      font-weight: 700;
      color: #000;
      font-size: 22px;
    }
  }

  &_button {
    width: 100%;
  }

  @media (max-width: 475px) {
    &_divider {
      margin-bottom: 44px;
    }

    &_card {
      padding: 28px 12px;
    }

    &_row {
      font-size: 22px;
    }

    &_code {
      font-size: 24px;

      span.bold {
        font-size: 24px;
      }
    }

    &_date,
    &_time {
      font-size: 18px;

      span.bold {
        font-size: 18px;
      }
    }
  }
}
