.user_data {
  font-family: "Locator", "Inter", sans-serif;
  margin-top: 12px;
  width: 100%;
  max-width: 442px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;

  &--validated {
    min-height: calc(100vh - 90px);
    justify-content: space-between;
    padding-bottom: 20px;
  }

  &_visitor {
    width: 100%;
    margin: 0;
    font-size: 16px;
    line-height: 120%;
    font-weight: 300;
    text-transform: uppercase;
    color: #000;
    text-align: center;

    .bold {
      font-weight: 700;
    }
  }

  &_card {
    width: 100%;
    box-sizing: border-box;
    background: #f2f2f2;
    min-height: 460px;
    padding: 26px 16px 18px;
    display: flex;
    flex-direction: column;
  }

  &_info {
    width: 100%;
    flex: 1;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    color: #000;
  }

  &_row {
    margin: 0;
    text-align: left;
    letter-spacing: 0;
    text-transform: uppercase;
  }

  &_code {
    width: 100%;
    margin: auto 0;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #000;

    span.bold {
      font-weight: 700;
      font-size: 16px;
      color: #000;
    }
  }

  &_success {
    margin: auto 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 110%;
    font-weight: 300;
    min-height: 200px;
    text-transform: uppercase;
    color: #000;
    flex-direction: column;

    .bold {
      font-weight: 700;
    }
  }

  &_date,
  &_time {
    font-size: 13px;
    font-weight: 300;
    line-height: 125%;
    color: #666;

    span.bold {
      font-weight: 700;
      color: #000;
      font-size: 13px;
    }
  }

  &_button {
    width: calc(100% - 54px);
    max-width: 256px;
    align-self: center;
    margin-top: auto;

    &--success {
      margin-top: 0;
    }
  }
}
