.loading-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
  gap: 20px;

  p {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
  }

  svg {
    width: 50px;
    height: 50px;
  }
}
