.schedule-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;

  h1 {
    line-height: 115%;
    font-size: 20px;
    font-weight: 500;

    text-transform: uppercase;
    text-align: center;
    max-width: 350px;
    margin-bottom: 30px;
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 297px;

    &::after {
      content: "";
      display: inline-block;
      width: 80px;
      height: 2px;
      background: #fff;
      margin: 26px auto 24px auto;
    }

    h3,
    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 120%;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
