.schedule-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;

  &__hero {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin-bottom: 20px;
  }

  &__hero-title {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 1.2px;
    line-height: 135%;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
  }

  &__hero-subtitle {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 150%;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }

  &__selection-title {
    line-height: 115%;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    max-width: 350px;
    margin-bottom: 40px;
  }

  &__divider {
    width: 440px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin-bottom: 20px;

    @media (max-width: 475px) {
      width: 200px;
    }
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 297px;

    &::after {
      content: "";
      display: inline-block;
      width: 200px;
      height: 2px;
      background: #599de0;
      margin: 26px auto 24px auto;
    }

    h3,
    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 120%;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 12px;
    }
  }
}
