.cancel-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 16px;
  box-sizing: border-box;
  text-align: center;
  color: #000;

  &__box {
    width: 100%;
    min-height: 420px;
    box-sizing: border-box;
    background: #f2f2f2;
    padding: 24px 24px 20px;
    display: flex;
    flex-direction: column;
  }

  &__box--canceled {
    justify-content: flex-start;
  }

  &__title {
    margin: 0 0 20px;
    font-size: 20px;
    font-weight: 300;
    line-height: 120%;
    text-transform: uppercase;
    color: #000;
  }

  &__content {
    margin-top: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content--canceled {
    justify-content: start;
    gap: 20px;
  }

  &__disclaimer {
    width: 100%;
    color: #000;
    text-align: left;
    margin: 0 auto;
  }

  &__line {
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    margin: 0;
    font-weight: 300;

    b {
      font-weight: 700;
    }
  }

  &__line + &__line {
    margin-top: 10px;
  }

  &__line--address {
    margin-top: 10px !important;
  }

  &__address-detail {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 125%;
    margin: 0;
    font-weight: 700;
    text-align: left;
  }

  &__warning {
    width: 100%;
    text-align: left;
    margin-top: 12px;
    color: #ff0000;
    font-size: 12px;
    font-weight: 300;
    line-height: 125%;
    text-transform: uppercase;
  }

  &__sentimosMuito {
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    margin: 0;
    font-weight: 500;
    color: #000;
  }

  &__qrindisponivel {
    font-size: 12px;
    line-height: 125%;
    margin: 0;
    font-weight: 500;
    color: #000;
  }

  &__tip {
    margin: 0;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 125%;
    font-weight: 300;
    text-align: left;
    color: #000;

    span {
      font-weight: 700;
    }
  }

  &__actions {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  &__actions--single {
    display: flex;
  }

  .button.cancel-page__confirm,
  .button.cancel-page__reschedule {
    width: 100%;
    padding: 9px 6px;
    font-size: 13px;
    line-height: 110%;
  }

  .button.cancel-page__confirm--outline {
    background: transparent;
    color: #599de0;
    border: 2px solid #599de0;

    &:hover {
      background: rgba(89, 157, 224, 0.12);
      color: #599de0;
    }
  }

  .button.cancel-page__reschedule--fill {
    background: #599de0;
    color: #fff;

    &:hover {
      background: #599de0;
      filter: brightness(0.9);
      color: #fff;
    }
  }
}
