.scanQr {
  margin-top: 30px;
  text-align: center;

  h1 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.4;
  }

  p {
    margin: 30px auto;
    text-align: center;

    text-transform: uppercase;
    font-size: 18px;
  }

  &_cam {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    border-radius: 30px;

    video {
      width: 100%;
      height: 100%;
      border-radius: 30px;
      object-fit: cover;
    }
  }
}
