.day {
  &-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 11px;
    margin-bottom: 62px;
  }

  &-button {
    font-family: "Locator", "Inter", sans-serif;
    width: 100%;
    background-color: transparent;
    border: none;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding: 12px;
    font-size: 14px;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    background-color: #fff;

    &:hover {
      background-color: #f2ece9;
    }

    &.selected {
      background-color: #ecc3b2;
      color: #fff;
    }
  }
}

.hour {
  &-selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 9px;
    margin-bottom: 31px;
    max-width: 321px;
  }

  &-button {
    font-family: "Locator", "Inter", sans-serif;
    width: 48%;
    background-color: transparent;
    border: none;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding: 12px;
    font-size: 14px;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    background-color: #fff;

    &:hover {
      background-color: #f2ece9;
    }

    &.selected {
      background-color: #ecc3b2;
      color: #fff;
    }
  }
}

.error_message {
  color: #ff0000;
  font-size: 12px;
  text-align: left;
  margin-top: 8px;
}
