.type_code {
  font-family: "Locator", "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 40px;
  &_header {
    margin-bottom: 40px;
    h2 {
      font-size: 30px;
      font-weight: 300;

      text-align: center;
      letter-spacing: 2px;
    }
  }
  &_form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_input_container {
    width: 100%;
    position: relative;
    margin-bottom: 16px;
    &.error .type_code_input {
      border: 2px solid #e53935;
    }
    &.error .type_code_input_error_icon {
      display: flex;
    }
  }
  &_input {
    font-family: "Locator", "Inter", sans-serif;
    width: 100%;
    padding: 20px 56px 20px 20px;
    font-size: 19px;
    font-weight: 700;
    color: #bfaea6;
    background: #fff;
    border: 2px solid transparent;
    border-radius: 2px;
    outline: none;
    transition: border 0.2s;
    &::placeholder {
      font-family: "Locator", "Inter", sans-serif;
      color: #e5cfc7;
      font-weight: 700;
      opacity: 1;
    }
    &:focus {
      border: 2px solid #bfaea6;
    }
  }
  &_input_error_icon {
    display: none;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #e53935;
    background: #fff;
    border: 2px solid #e53935;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    z-index: 2;
    pointer-events: none;
  }
  &_error_message {
    color: #e53935;
    font-size: 13px;
    margin-top: 4px;
    margin-left: 4px;
    font-weight: 400;
    letter-spacing: 0.2px;
  }

  &_button_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 24px;
  }
}
